## How working remotly affects job satisfaction?
In this notebook I am going to

In [1]:
# imports
import numpy as np
import pandas as pd
from Wrangling import clean

In [2]:
# clean the data using clean method in Wrangling.py file
df = clean()
df.head()

    year            remote  CareerSat
1   2016   Rarely or Never        5.0
3   2016  Part-time remote        5.0
7   2016   Rarely or Never        5.0
9   2016   Rarely or Never        4.0
11  2016  Part-time remote        5.0

In [3]:
df.describe()

                year      CareerSat
count  150017.000000  150017.000000
mean     2017.674837       3.949319
std         1.296461       1.052457
min      2016.000000       1.000000
25%      2016.000000       4.000000
50%      2017.000000       4.000000
75%      2019.000000       5.000000
max      2019.000000       5.000000

In [65]:
# Calculate count, precentage, mean, var, std, lower 95 and upper 95
def calc_amt(df, col_name, col_calc):
    # Calculate mean for each remote category
    df_mean = df.groupby(col_name).mean()[col_calc].reset_index().rename(columns = {'CareerSat':'mean'})

    # Calculate var for each remote category
    df_var = df.groupby(col_name).var()[col_calc].reset_index().rename(columns = {'CareerSat':'var'})

    # Calculate std for each remote category
    df_std = df.groupby(col_name).std()[col_calc].reset_index().rename(columns = {'CareerSat':'std'})

    # Calculate count for each remote category
    df_count = df.groupby(col_name).count()[col_calc].reset_index().rename(columns = {'CareerSat':'count'})
    

    # Merge all
    df_all = pd.merge(df_mean, df_count, on='remote').merge(df_var, on='remote').merge(df_std, on='remote')

    # Calculate precentage
    df_all['perc'] = df_all['count'] / len(df)

    # Calculate upper and lower 95 quantiles
    df_all['lower_95'] = df_all['mean'] - 1.96*df_all['std']/np.sqrt(df_all['count'])
    df_all['upper_95'] = df_all['mean'] + 1.96*df_all['std']/np.sqrt(df_all['count'])

    return df_all

In [66]:
# check significance 
calc_amt(df, 'remote','CareerSat')

,remote,mean,count,var,std,perc,lower_95,upper_95
0,A few days each month,4.036027,31976,0.951697,0.975549,0.213149,4.025334,4.046720
1,Full-time remote,4.072641,17552,1.139102,1.067287,0.117000,4.056852,4.088431
2,It's complicated,3.769259,5413,1.277311,1.130182,0.036083,3.739151,3.799367
3,Part-time remote,4.026884,24550,1.056510,1.027867,0.163648,4.014026,4.039742
4,Rarely or Never,3.866134,70526,1.156713,1.075506,0.470120,3.858197,3.874072

In [72]:
# Visualise

Empty DataFrame
Columns: [year, remote, CareerSat]
Index: []